/* Estilos gerais */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 2px;
    color: skyblue;
  }
  
  form {
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
 /*Texto abaixo de informar...*/
 .container .instruction {
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-bottom: 16px;
  }


  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-radius: 3px;
  }
  
  .confirm-btn {
    width: 107.5%;
    padding: 10px;
    background-color: skyblue;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .confirm-btn:hover {
    background-color: #45a049;
  }
  
  .instruction {
    font-size: 12px;
    color: white;
    margin-top: 10px;
  }
  