body {
    background-color: rgb(0, 32, 47);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .produto {
    text-align: center;
    padding: 20px;
  }
  
  h3, p {
    margin: 0;
  }
  
  img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: skyblue;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #87ceeb;
  }
  